aiohttp>=3.8.1
pymongo[srv]>=4.1,<5
motor==3.1.1
marshmallow==3.20.1
umongo==3.0.1
pyrotgfork
python-dotenv
TgCrypto==1.2.5
feedparser
Flask==2.3.3
cloudscraper
requests
beautifulsoup4
lxml
torrent-parser
bencodepy
certifi
urllib3
setuptools
selenium>=4.0.0
webdriver-manager
terabox-downloader
